:root {
  --light-1: #ffffff;
  --light-2: #a6a4a4;
  --dark-1: #040405;
  --dark-2: #0a0d12;
  --primary: #a28a52;
}

.layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 10% 35% 40% / minmax(0, 1fr);
  gap: 2em;
  background-color: var(--dark-1);
  overflow: hidden;
  padding: 2rem;
}

.flex-row-between {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-col-between {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.title {
  margin: 0;
  color: var(--light-1);
}

.sub-title {
  margin: 0;
  color: var(--light-2);
  font-weight: 600;
}

.main-poster {
  background-color: var(--dark-2);
  padding: 1rem;
  border-radius: 1rem;
}

.img-poster {
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.recent-posters {
  gap: 1em;
  height: fit-content;
}

.one-poster {
  width: 10rem;
  height: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid var(--light-2);
  border-radius: 0.5rem;
}

.carousel {
  gap: 3em;
  overflow-x: scroll;
  overflow-y: hidden;
}

.carousel {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.carousel::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.carousel-item {
  gap: 1em;
}
